# Python
__pycache__/
*.pyc
venv/
.env

# Django
media/
staticfiles/

# Node
node_modules/
.next/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
mysql_data/
redis_data/

# Django database
*.sqlite3
db.sqlite3